// Generator-project
// By Emil Møller
// August 2014

// Make sure the charset is set appropriately
@charset "UTF-8";

// bower:scss
// endbower

<% if (includeFoundation) { %>

/**
 * The first import is normalizing for all browsers
 * Including foundation functions before variables so i can be used there.
 */

@import
  "../bower_components/foundation/scss/normalize",
  "../bower_components/foundation/scss/foundation/functions",
  "variables",
  "foundation-settings";

  /**
   * Behold, all the foundation components!
   * If there are components you don't need, disable them in _foundation-settings.scss
   */
  @import
    "../bower_components/foundation/scss/foundation/components/grid",
    "../bower_components/foundation/scss/foundation/components/accordion",
    "../bower_components/foundation/scss/foundation/components/alert-boxes",
    "../bower_components/foundation/scss/foundation/components/block-grid",
    "../bower_components/foundation/scss/foundation/components/breadcrumbs",
    "../bower_components/foundation/scss/foundation/components/button-groups",
    "../bower_components/foundation/scss/foundation/components/buttons",
    "../bower_components/foundation/scss/foundation/components/clearing",
    "../bower_components/foundation/scss/foundation/components/dropdown",
    "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
    "../bower_components/foundation/scss/foundation/components/flex-video",
    "../bower_components/foundation/scss/foundation/components/forms",
    "../bower_components/foundation/scss/foundation/components/inline-lists",
    "../bower_components/foundation/scss/foundation/components/joyride",
    "../bower_components/foundation/scss/foundation/components/keystrokes",
    "../bower_components/foundation/scss/foundation/components/labels",
    "../bower_components/foundation/scss/foundation/components/magellan",
    "../bower_components/foundation/scss/foundation/components/orbit",
    "../bower_components/foundation/scss/foundation/components/pagination",
    "../bower_components/foundation/scss/foundation/components/panels",
    "../bower_components/foundation/scss/foundation/components/pricing-tables",
    "../bower_components/foundation/scss/foundation/components/progress-bars",
    "../bower_components/foundation/scss/foundation/components/range-slider",
    "../bower_components/foundation/scss/foundation/components/reveal",
    "../bower_components/foundation/scss/foundation/components/side-nav",
    "../bower_components/foundation/scss/foundation/components/split-buttons",
    "../bower_components/foundation/scss/foundation/components/sub-nav",
    "../bower_components/foundation/scss/foundation/components/switches",
    "../bower_components/foundation/scss/foundation/components/tables",
    "../bower_components/foundation/scss/foundation/components/tabs",
    "../bower_components/foundation/scss/foundation/components/thumbs",
    "../bower_components/foundation/scss/foundation/components/tooltips",
    "../bower_components/foundation/scss/foundation/components/top-bar",
    "../bower_components/foundation/scss/foundation/components/type",
    "../bower_components/foundation/scss/foundation/components/offcanvas",
    "../bower_components/foundation/scss/foundation/components/visibility";

<% } else { %>
// Css here if foundation is not choosen.
}<% } %>


/**
 * This scss is only for the welcome page, and is not
 * present other places, and doesn't interfeere with your code
 * if you don't delete it.
*/
.welcome-page {
  padding-top: 150px;
  font-family: verdana, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.welcome-page .heading {
  margin-bottom: 100px;
}
.welcome-page h1 {
  font-size: 24px;
  color: #5d676d;
}
.welcome-page h2 {
  font-size: 18px;
  color: #9fa4a7;
  margin-bottom: 4px;
}
.welcome-page p {
  font-size: 14px;
  color: #9fa4a7;
}
.welcome-page a {
  color: #36acf0;
}
.welcome-page .toolbelt {
  border: none;
  max-width: 900px;
  margin: 0 auto 200px;
}
.welcome-page .toolbelt td {
  text-align: center;
}

